@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

$fontButtonAccueil: "Saira Semi Condensed", sans-serif;
$fontButtonAccueilHover: "UnifrakturMaguntia", cursive;
$secourFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$violetAccueil: #b37fe8;
