@font-face {
  font-family: "Saira";
  src: url("./src/assets/font/Saira_Extra_Condensed/SairaExtraCondensed-Medium.ttf");
  //format("truetype");
}

@font-face {
  font-family: "Unifraktur Maguntia";
  src: url("./src/assets/font/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf")
    format("truetype");
}

$fontButtonAccueil: "Saira";
$fontButtonAccueilHover: "Unifraktur Maguntia";
$secourFont: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$violetAccueil: #b37fe8;
