@import "./style";
body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0px;
  background-color: $violetAccueil;
}

header {
  height: 45vh;
  display: flex;
  justify-content: center;

}

main {
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
